[submodule "src/hardhat-ccip-contracts"]
	path = src/hardhat-ccip-contracts
	url = https://github.com/LZeroAnalytics/hardhat-ccip-contracts.git
[submodule "src/ccip-ui"]
	path = src/ccip-ui
	url = git@github.com:LZeroAnalytics/ccip-ui.git
